
* {
	box-sizing: border-box;
}

body {
	background: #aadeec;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

.box {
	background: white;
	border-radius: 20px;
	box-shadow: 0 4px 5px rgba(0,0,0,0.1);
	padding: 11px;
	text-align: left;
	max-width: 390px;
}

.box img {
	width: 400px;
	max-width: 100%;
	position: relative;
}

.box h2 {
	margin: 10px 10px 0;
	color: #69c5ac;
}

.box p {
	color: #414143;
	margin: 10px;
}


.form-control {
	position: relative;
	margin: 30px 0 20px;
}

.input {
	border: 0;
	border-radius: 50px;
	box-shadow: 0 4px 5px rgba(0,0,0,0.1);
	font-family: inherit;
	font-size: 14px;
	height: 42px;
	padding: 12px 15px;
	width: 100%;
}

.btn {
	background-color: #69c5ac;
	border: 0;
	border-radius: 50px;
	color: white;
	height: 42px;
	padding: 12px 15px;
	position: absolute;
	top: 0;
	right: 0;
	font-family: inherit;
	font-size: 14px;
}

.input:focus, .btn:focus {
	outline: 0;
}